body{
	margin: 0;
	padding: 0;
}

nav{
    background-color: rgba(0,0,0,0.6);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav ul{
    float: right;
    margin-right: 150px;
    margin-top: 30px;
}
nav ul li{
    display: inline;
    margin: 14px;
    color: white;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header{
    position: center;
    color: black;
    background-image: url("../img/bkg1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 660px;
}

button{
    text-transform: uppercase;
    border-radius: 50px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.logo{
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.conteudo-header{
    margin-top: 165px;
    margin-left: 16%;
    position: absolute;
}

.slogan{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 50px;
}

.btn-verde{
    background-color: #1db954;
    width: 335px;
    margin-right: 9px;
    border: 0;
}

.btn-branco{
    background-color: black;
    border: 2px solid white;
    width: 315px;
}

.titulo{
	margin: 50px;
}

/*.section2{
	max-width: 100%;
	background-color: red;
	height: 800px;
	padding-top: 50px; 
	display: flex;
}*/

.caixa{
	margin: 5%;
	flex-grow: 1;
}

.cx-maior{
	display: flex;
}