{
	margin: 0;
	padding: 0;
}

h1{
	color: white;
	font-size: 40px;
}

.container{
	max-width: 100%;
	background-color: red;
	height: 800px;
	padding-top: 50px; 
	display: flex;
}

.card{
	background-color: blue;
	width: 100px;
	height: 100px;
	margin: 5%;
}



/*RESPONSIVO*/

/*telas no maximo 600px*/

@media (max-width: 600px){
	
	img{
		display: none;
	}

	.container{
		display: block;
	}

	.card{
		background-color: green;
	}
}

/*telas no maximo 300px*/

@media (max-width: 300px){

	.container{
		background-color: white;
	}
}
